* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h2{
    color: #6a100a;
}
.features ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
}
main {
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    display:grid;
    gap: 20px;
    grid-template-columns: 1fr;
}
section {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table{
    border-collapse: collapse;
    width: 100%;
}
td,th{
    text-align: center;
    border: 1px solid #333;
}
.benifits h2{
    color: #2c0f51;
}
.html h3{
    color: #0a5406;
}
.css h3{
    color: #620a5f;
}
.resources h2{
    color: #bb3122;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    align-content: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
